body{
    background-color: #242424;
    font-family: Verdana;
    margin: 0px;
}

#Lmorada{
    background-color: #674ea7;
    right: 0;
}

#Lverde{
    background-color: #00a797;
    left: 0;
}

.linea{
    position: fixed;
    height: 100%;
    width: 10px;
    display: absolute;
}

header{
    margin: 0px 5% 50px;
}

#contenedor-botones{
    width:350px;
    display: inline-block;
    margin-top: 15px;
}

.opciones{
    height: 40px;
    width: 100px;
    background-color: #3d3d3d;
    border-radius: 5px;
    border: none;
    margin: 0px 5px;
}

.iconosB{
    height: 25px
}

#Btienda{
    background-color: #674ea7;
}

#contenedor-busqueda{
    display: inline-block;
    height: 30px;
}

#busqueda{
    display: block;
    width: 400px;
    height: 30px;
    font-size: 15px;
    float: right;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
}

#Blupa{
    background: none;
    border:none;
    float: left;
    outline: none;
}

#lupa{
    width: 55px;
    height: 35px;
}

#contenedor-perfil{
    background-color: #3d3d3d;
    border-radius: 25px;
    margin-top:15px;
    width: 350px;
    height:50px;
    float: right;
    display: inline-block;
    transition: width 1s;
}

#contenedor-fotoPerfil{
    background-color: rgb(172, 16, 16);
    height: 40px;
    width:40px;
    border-radius: 25px;
    margin-right:5px;
    margin-left:auto;
    margin-top:5px;
}

nav{
    margin: 15px 5%;
    background-color: #3d3d3d;
    border-radius: 15px;
    height: 70px;
}

h2{
    margin-left: 20px;
    color: white;
    display: inline-block;
}

#Bflecha{
    list-style: none;
    background: none;
    border: none;
    margin: 10px 10px;
    float: right;
}

#flecha{
    transition: transform 0.1s;
}

input:focus,#Bflecha:focus,.Bcarrousel {
    outline: none;
}

h3{
    color: #7c7c7c;
    float: right;
}

#filtrar{
    width: 400px;
    height: 300px;
    background-color: #242424;
    position: absolute;
    z-index: 100;
    margin-top: -30px;
    margin-right: 5%;
    right: 100px;
    border-radius: 15px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.1s;
    color: #7c7c7c;
    font-weight: bold;
    border-left: 3px solid #00a797;
    border-right: 3px solid #674ea7;
}

#colum1{
    display: inline-block;
    width: 45%;
    margin: 20px 10px;
}

#colum2{
    display: inline-block;
    width: 45%;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-left: 20px;
    margin-right:0 ;
    width: 12px;
    height: 12px;
    background-color:  #3d3d3d;
  }

  input[type="checkbox"]:checked{
    background-color: #674ea7;
  }

#carrouselTematicas{
    position: relative;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    width:1100px;
}

#carrouselIzq{
    float:left;
    margin-top: 180px;
}

#carrouselIzq:hover{
    color:#674ea7;
}

#carrouselDer{
    float:right;
    margin-top: 180px;
}

#carrouselDer:hover{
    color:#00a797;
}

.Bcarrousel{
    background: none;
    color: #7c7c7c;
    border:none;
    font-size: 40px;
    transition: color 1s;
    margin-top: 225px;   
}

#carrousel{
    display:flex;
    height:100%;
    width: 990px;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

main{
    margin: 40px 5% 0px;
    background-color: #3d3d3d;
    border-radius: 15px;
    height: 1000px;
}