body{
    background-color: #242424;
    font-family: Verdana;
    margin: 0px;
}

#contenedor-general{
    /*border: 2px solid violet;*/
    display: absolute;
    width: 530px;
    height: 520px;
    margin: 20px auto;
    background: #00a797;
}

#volver{
    font-size: 40px;
    margin: 0px 20px;
    text-decoration:none;
    color: #7c7c7c;
    transition: 0.4s;
}
#volver:hover{
    color: #674ea7;
}


#botonesEleccion{
    background: #242424;
    /*height: 40px;*/
}

.campoEleccionA{
    font-size: 15px;
    font-weight: bold;
    background: #00a797;
    margin: 0px;
    width: 100px;
    height: 40px;
    border: none;
    outline: none;
    color: #242424;
    transition-duration: 0.4s;
}

.campoEleccionV{
    font-size: 15px;
    font-weight: bold;
    background: #674ea7;
    margin: 0px;
    width: 100px;
    height: 30px;
    border: none;
    outline: none;
    color: #242424;
    transition-duration: 0.4s;
}

#register{
    border: 2px solid #3d3d3d;
    background: #3d3d3d;
    height: 420px;
    margin: 30px;
}

.campo{
    font-size: 15px;
    border: none;
    background: none;
    color: white;
    width: 370px;
}

input:focus{
    outline: none;
}

#username{
    /*padding: 15px 10px 10px 5px;*/
    display: block;
    border-bottom: 1px solid white;
    margin: 30px 30px;

    /*border: 2px solid violet;*/
}

#email{
    /*padding: 15px 10px 10px 5px;*/
    display: block;
    border-bottom: 1px solid white;
    margin: 30px 30px;
    /*border: 2px solid violet;*/
}

#confirmEmail{
    /*padding: 15px 10px 10px 5px;*/
    display: block;
    border-bottom: 1px solid white;
    margin: 30px 30px;
    /*border: 2px solid violet;*/
}

#password{
    /*padding: 15px 10px 10px 5px;*/
    display: block;
    border-bottom: 1px solid white;
    margin: 30px 30px;
    
    /*border: 2px solid violet;*/
}

#img-eye{
    float: right;
    width: 30px;
    height: 20px;
}

#confirmPassword{
    /*padding: 15px 10px 10px 5px;*/
    display: block;
    border-bottom: 1px solid white;
    margin: 30px 30px;
    /*border: 2px solid violet;*/
}

#date{
    /*padding: 15px 10px 10px 5px;*/
    display: block;
    margin: 0px 30px;
    /*border: 2px solid violet;*/
}

#day{
    border-bottom: 1px solid white;
    margin: auto 0px;
    width: 32%;
}
#month{
    border-bottom: 1px solid white;
    margin: auto 2.5px;
    width: 32%;
}
#year{
    border-bottom: 1px solid white;
    margin: auto 0px;
    width: 32%;
}

#buttonRegister{
    margin: 50px 310px;
    /*border: 2px solid violet;*/
}

.button{
    font-size: 15px;
    font-weight: bold;
    background: #00a797;
    width: 100px;
    height: 40px;
    border: none;
    color: #242424;
}