/*ID*/
#div-all{
    background: #00a797;
    width: 530px;
    height: 520px;
    margin: 20px auto;
    display: absolute;
}

#a-back{
    color: #7c7c7c;
    font-size: 40px;
    margin: 0px 20px;
    transition: 0.4s;
    text-decoration:none;
}
#a-back:hover{
    color: #674ea7;
}


#div-buttons-choice{
    background: #242424;
}

#buttom-viewer{
    background: #674ea7;
    height: 30px;
}

#buttom-artist{
    background: #00a797;
    height: 40px;
}


#form-register{
    background: #3d3d3d;
    border: 2px solid #3d3d3d;
    height: 420px;
    margin: 30px;
}

#div-inputs{
    border-bottom: 1px solid white;
    margin: 30px 30px;
    display: block;
}

#img-eye{
    width: 30px;
    height: 20px;
    margin-top: -5px;
    float: right;
}

#div-date{
    margin: 0px 30px;
    display: block;
}

#input-day-year{
    border-bottom: 1px solid white;
    width: 32%;
    margin: auto 0px;
}
#input-month{
    border-bottom: 1px solid white;
    width: 32%;
    margin: auto 2.5px;
}

/*Class*/

.button-users{
    color: #242424;
    margin: 0px;
    width: 100px;
    font-size: 15px;
    transition-duration: 0.4s;
    font-weight: bold;
    border: none;
    outline: none;
    
}

.input-register{
    color: white;
    width: 370px;
    font-size: 15px;
    border: none;
    background: none;
    
}

.button-register{
    color: #242424;
    background: #00a797;
    margin: 50px 335px;
    font-size: 15px;
    width: 100px;
    height: 40px;
    font-weight: bold;
    border: none;
}

/**/
#div-waves { /*Flexbox for containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
  }
  
  #svg-waves{
    position:relative;
    width: 100%;
    height:15vh;
    margin-bottom:-7px; /*Fix for safari gap*/
    min-height:100px;
    max-height:150px;
  }
  
  
  /* Animation */
  
  .parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }
  .parallax > use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
  }
  .parallax > use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
  }
  .parallax > use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
  }
  .parallax > use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
  }
  @keyframes move-forever {
    0% {
     transform: translate3d(-90px,0,0);
    }
    100% { 
      transform: translate3d(85px,0,0);
    }
  }
  /*Shrinking for mobile*/
  @media (max-width: 768px) {
    .waves {
      height:40px;
      min-height:40px;
    }
  }