#div-filter{
    color: #7c7c7c;
    background-color: #242424 !important;
    border-left: 3px solid #00a797;
    border-right: 3px solid #674ea7;
    width: 600px !important;
    height: 330px !important;
    margin-top: -20px;
    margin-right: 3%;
    right: 50px;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.1s;
    position: absolute;
    visibility: hidden;
    font-weight: bold;
}

h4{
    color: white;
}

#h4-tags{
    margin-top: 30px;
    position: absolute;
    margin-left: 30px;
}

#tags{
    float: right;
}

#div-column1{
    width: 180px !important;
    margin: 55px 10px !important;
    display: inline-block;
}
   
#div-column2{
    width: 180px !important;
    display: inline-block;
}

#div-type-preferences{
    border-right: 2px solid #7c7c7c;
    width: 190px;
    height: 90%;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    
}

#h4-type{
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 20px;
}

#div-type{
    margin-right: 20px;
}

/*__________________________HEADER SECUNDARIO SEARCH______________________________*/

@media (max-width: 1250px){
    header{
        width: 100%;
    }
    main{
        width: 100% !important;
    }
}

@media (max-width: 700px){
    #div-filter{
        font-size: 15px;
        width: 86% !important;
        height: 330px;
    }

    #tags{
        margin-right: 3%;
        width: 60%;
    }

    #div-column1{
        width: 42% !important;
        margin: 55px 5px !important;
    }
       
    #div-column2{
        width: 52% !important;
    }

    #div-type-preferences{
        width: 32%;
        height: 90%;
        margin-right: 3%;
    }

    .input-checkbox{
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 608px){

    #div-column1{
        width: 41% !important;
        margin: 55px 0px !important;
    }

    #tags{
        margin-right: 3%;
        width: 61%;
    }
}

@media (max-width: 598px){
    #div-filter{
        font-size: 13px;
        width: 86% ;
        height: 290px ;
    }

    #div-type-preferences{
        width: 31%;
        height: 90%;
        margin-right: 3%;
    }

    #tags{
        width: 62%;
    }

    .input-checkbox{
        width: 8px;
        height: 8px;
    }
}

@media(max-width: 545px){
    main{
        margin-top:240px !important;
    }

    #div-filter{
        width: 88.4% !important;
        margin-right: -1% !important;
    }
}

@media (max-width: 511px){
    #div-filter{
        font-size: 10px;
        width: 88% !important;
        margin-right: -3% !important;
    }

    #tags{
        width: 62%;
    }

    #div-type-preferences{
        width: 32%;
        height: 90%;
        margin-right: 2%;
    }

}

@media (max-width: 421px){
    #div-filter{
        font-size: 9px;
        width: 98% !important;
        margin-right: -13% !important;
    }
}