h4{
    color: #7c7c7c;
}

/*ID*/

#button-store{
    background-color: #674ea7;
}

#div-carousel-bookmarkers{
    opacity: 0;
    transition: opacity 2s;
}
    #div-carousel-images{
        height: 300px;
        width: 1000px;
        padding-left: 95px;
        margin: 0 auto;
        text-align: center;
        display: flex;
    }

        .button-carousel{
            font-size: 50px;
            top: 120px;
            position: absolute;
            background: none;
            border: none;
            color: white;
            z-index: 100
        }

            #button-carousel-right{
                right: 50px;
            }

            #button-carousel-left{
                left: 50px;
            }

        .div-image{
            background: #121212;
            border-radius: 15px;
            border: 10px solid #2d2d2d;
            transition: all 0.3s, border 0s;
            position:relative;
            margin: auto;
        } 

            .div-cancel-image{
                background: #2d2d2d;
                height: 30px;
                width: 30px;
                right:-7px;
                top: -7px;
                border-radius: 100%;
                position: absolute;
            }

            .div-cancel-image img{
                height: 80%;
                width: 80%;
                margin-top:3;
            }
         