/*ID*/

#button-carousel-left{
    float:left;
}

#button-carousel-left:focus, #button-carousel-right:focus{
    outline: none;
}

#button-carousel-left:hover{
    color:#674ea7;
}

#button-carousel-right{
    float:right;
}

#button-carousel-right:hover{
    color:#00a797;
}

#button-homepage{
	background-color: #674ea7;
}

#carousel-images-profiles {
    position: relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
    opacity: 0;
    transition: opacity 1s;
    scroll-behavior: smooth;
    overflow-x: hidden;
    display: flex;
}


.button-carousel{
    background: none;
    color: #7c7c7c;
    border:none;
    font-size: 50px;
    transition: color 0.2s;  
    margin: 7px  10px;
}

.img-profile{
    white-space: nowrap;
    display: inline-block;
	height: 60px;
    width: 60px;
	border-radius: 100%;
	margin: 5px 4px;
}

/*POP UP*/

#div-pop-up-background{
    background: black;
    height: 100vh;
    width: 100vw;
    z-index: 500;
    opacity: 0.5;
    position: fixed;
    display: block;
    }
    
    #div-pop-up{
      border: 5px solid #7c7c7c;
      background: #242424;
      color: white;
      width: 500px;
      height: 300px;
      margin-left: calc(50vw - 250px);
      margin-top: calc(50vh - 150px);
      z-index: 1000;
      border-radius: 15px;
      position: fixed;
      display: block;
      }
    
      #div-cancel-image{
        height: 100px;
        width: 100px;
        margin: 10px 200px;
        position: absolute;
      }

        #h4-bpoints{
            margin-top: 40px;
            margin-left: 20px;
            width: 100px;
            position: absolute;
            display: none;
        }

        #img-bpoints-reward{
            height: 30px !important;
            width: 30px !important;
            transition: opacity 0.1s;
            margin-left: 5px;
            margin-top: -6px;
            position: absolute;
            display: inline-block !important;
        }
    
        #img-cancel-image{
            height: 80px;
            display: block;
            margin: 10px 10px;
            transition: all 0.5s;
        }

.form-reward{
    display: none;
    margin-top: 30px;
}

.input-write{
    color: white;
    font-size: 20px;
    border: none;
    background: none;
}

.button-submit{
    color: white;
    background: #674ea7;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    transition: all 0.1s;
    border:none;
    outline: none;
    float: right;
}

/*--------------------------------------------------------------*/

#h3-reward{
    margin-top: -5px;
    margin-left: 182px;
    display: inline-block;
}

#div-days-bpoints{
    margin-top: 25%;
    height: 60px;
}

.img-bpoints-daily-reward{
    height: 60px;
    margin-left: 6px;
    display: inline-block;
}

#div-name-days{
    margin-top: -10px;
    margin-left: -22px;
}

.h3-name-days{
    display: inline-block;
    margin-left: 50px;
    
}

#monday{
    color: #00a797;
}

#tuesday{
    color: #c02925;
}

#wednesday{
    color: #00a797;
}

#thursday{
    color: #00a797;
}

#friday{
    color: #7c7c7c;
}

#saturday{
    margin-left: 52px;
    color: #7c7c7c;
}

#sunday{
    margin-left: 52px;
    color: #7c7c7c;
}

#form-reward-claim{
    display: block;
}
  
/*__________________________HEADER SECUNDARIO HOMEPAGE______________________________*/

@media (max-width: 1250px){
    header{
        width: 100%;
    }
    main{
        width: 100% !important;
    }
}

@media (max-width: 1223px){

    #carousel-images-profiles {
        width: 88%;
    }
}

@media (max-width: 1020px){

    #carousel-images-profiles {
        width: 87%;
    }
}

@media (max-width: 942px){

    #carousel-images-profiles {
        width: 86%;
    }
}

@media (max-width: 875px){

    #carousel-images-profiles {
        width: 85%;
    }
}

@media (max-width: 816px){

    #carousel-images-profiles {
        width: 84%;
    }
}

@media (max-width: 765px){

    #carousel-images-profiles {
        width: 83%;
    }
}

@media (max-width: 720px){

    #carousel-images-profiles {
        width: 82%;
    }
}

@media (max-width: 680px){

    #carousel-images-profiles {
        width: 81%;
    }
}

@media (max-width: 645px){

    #carousel-images-profiles {
        width: 80%;
    }
}

@media (max-width: 612px){

    #carousel-images-profiles {
        width: 79%;
    }
}

@media (max-width: 583px){

    #carousel-images-profiles {
        width: 78%;
    }
}

@media (max-width: 557px){

    #carousel-images-profiles {
        width: 77%;
    }
}

@media(max-width: 545px){
    main{
        margin-top:240px !important;
    }

   /* #div-pop-up{
        width: 92%;
        margin-left: calc(50vw - 46%);
    }

    #h3-reward{
        margin-top: -1%;
        margin-left: 36%;
        display: inline-block;
    }
    
    #div-days-bpoints{
        margin-top: 25%;
        height: 60px;
    }
    
    .img-bpoints-daily-reward{
        height: 50px;
        margin-top: 2%;
        margin-left: 3%;
        display: inline-block;
    }
    
    #div-name-days{
        margin-top: -10px;
        margin-left: -22px;
    }
    
    .h3-name-days{
        display: inline-block;
        margin-left: 50px;
        
    } */
}

@media (max-width: 533px){

    #carousel-images-profiles {
        width: 76%;
    }
}

@media (max-width: 510px){

    #carousel-images-profiles {
        width: 75%;
    }
}

@media (max-width: 490px){

    #carousel-images-profiles {
        width: 74%;
    }
}

@media (max-width: 471px){

    #carousel-images-profiles {
        width: 73%;
    }
}

@media (max-width: 454px){

    #carousel-images-profiles {
        width: 72%;
    }
}

@media (max-width: 438px){

    #carousel-images-profiles {
        width: 71%;
    }
}

@media (max-width: 423px){

    #carousel-images-profiles {
        width: 70%;
    }
}

@media (max-width: 408px){

    #carousel-images-profiles {
        width: 69%;
    }
}

@media (max-width: 395px){

    #carousel-images-profiles {
        width: 68%;
    }
}

@media (max-width: 383px){

    #carousel-images-profiles {
        width: 67%;
    }
}

@media (max-width: 371px){

    #carousel-images-profiles {
        width: 66%;
    }
}

@media (max-width: 360px){

    #carousel-images-profiles {
        width: 65%;
    }
}
