/*__________________________HEADER SECUNDARIO LIBRARY______________________________*/

@media (max-width: 1250px){
    header{
        width: 100%;
    }
    main{
        width: 100% !important;
    }
}

@media(max-width: 545px){
    main{
        margin-top:240px !important;
    }
}