main{
  margin-top: 75px !important;
  height: auto !important;
}

#span-title {
  margin-top: -40px !important;
  float: right;
  position: relative;
  margin-right: 30px;
}

#span-description {
  margin-top: 7px;
  position: absolute;
  right: 60px;
  font-size: 15px;
}

#span-image-uploaded {
  margin-top: 10px;
  margin-left: 0;
  position: relative;
}

#span-button-uploaded {
  right: 155;
  position: absolute;
  bottom: 150;
  font-size: 20px;
}

.php-variables {
  display: none;
}

main {
  height: calc(auto + 1000px) !important;
}

/*ID*/
#div-title {
  width: 94%;
  height: 60px;
  margin-left: 3%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: 50px;
  background: #242424;
}
#input-title-image {
  color: white;
  height: 100%;
  width: calc(100% - 40px);
  font-size: 25px;
  margin-left: 20px;
  font-size: bold;
  border: none;
  background: none;
}

#div-image-description {
  margin-left: 3%;
  width: 94%;
  height: 500px;
  border-radius: 15px;
}
#div-image {
  background: #242424;
  height: 100%;
  width: calc(50% - 10px);
  border-radius: 15px;
  display: inline-block;
  position: relative;
}

#img-uploaded {
  display: none;
  margin-top: 20px;
  margin-left: 20px;
}

#div-cancel-image {
  position: absolute;
  right: 0;
  height: 50px;
  width: 50px;
  border-radius: 60px;
  display: none;
  background: #242424;
}

#img-cancel-image {
  height: 30px;
  display: block;
  margin: calc(50% - 15px) auto;
}

#div-drag-drop {
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  margin-top: 20px;
  margin-left: 20px;
  border-radius: 15px;
  text-align: center;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='15' ry='15' stroke='white' stroke-width='5' stroke-dasharray='20' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}

#div-upload-image {
  display: inline-block;
  margin-top: 100px;
}

#img-icon-upload {
  height: 150px;
  display: block;
  margin: 0 auto 50px auto;
}

#h2-input-image {
  color: white;
  text-align: center;
}

#h2-input-image:hover {
  color: #00a797;
}

#div-description {
  background: #242424;
  width: calc(50% - 10px);
  height: 100%;
  border-radius: 15px;
  float: right;
}

#h3-descrption-title {
  color: white;
  margin: 30px 0px 15px 25px;
  font-size: 25px;
  font-size: bold;
  display: inline-block;
}

#h3-descrption-title {
  color: white;
  margin: 15px 25px;
  font-size: 25px;
  font-size: bold;
}

#h4-character-counter {
  float: right;
  color: grey;
  margin-right: 25px;
  margin-top: 30px;
}

#div-description-text {
  height: calc(100% - 105px);
  width: calc(100% - 40px);
  border-radius: 15px;
  margin: 0 auto;
  background: #3c3c3c;
  padding-top: 10px;
}

#textarea-description {
  color: white;
  height: calc(100% - 20px);
  width: calc(100% - 20px);
  margin: 0 auto;
  font-size: 20px;
  border-radius: 15px;
  display: block;
  border: none;
  background: none;
  resize: none;
}

#textarea-description:focus {
  outline: none;
}

#div-tags-price {
  margin-left: 3%;
  width: 46%;
  display: inline-block;
}

#div-tags,
#div-price {
  background: #242424;
  width: 100%;
  height: 60;
  margin-top: 20px;
  border-radius: 50px;
  display: flex;
  position: relative;
}

#img-arrow {
  margin-top: 12px !important;
  margin-left: 12px !important;
}

#h3-filter {
  margin-top: 11px;
}

#h3-number-filter {
  color: #7c7c7c;
  margin-top: 11px;
  margin-left: 10px;
  float: right;
}

#div-filter {
  left: 170px;
  top: 20px;
  z-index: 100;
  position: absolute;
  font-weight: bold;
}

#h3-price {
  color: #7c7c7c;
  margin-left: 10px;
  padding-right: 70px;
  margin-top: 20px;
}

#input-checkBox-price {
  background-color: #3d3d3d;
  border-radius: 3px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 20px;
  margin-right: 0;
  width: 20px;
  height: 20px;
  border-radius: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

#div-input-price {
  opacity: 0.5;
  margin-top: 10px;
  width: 50%;
  float: right;
  pointer-events: none;
}

#img-bpoints-price {
  height: 40px;
  margin-left: 10px;
  position: absolute;
}

#input-price {
  background: #3d3d3d;
  color: white;
  padding-left: 15px;
  font-size: 25px;
  border-radius: 20px;
  height: 40px;
  width: 70%;
  font-size: bold;
  border: none;
}

#div-button-post {
  height: 80px;
  width: 200px;
  margin-top: 4%;
  margin-right: 17%;
  float: right;
}

#button-post {
  background: #00a797;
  height: 100px;
  width: 200px;
}

#textarea-description::-webkit-scrollbar {
  width: 10px;
  -webkit-appearance: none;
}

#textarea-description::-webkit-scrollbar-button:increment,
.contenedor::-webkit-scrollbar-button {
  display: none;
}

#textarea-description::-webkit-scrollbar-thumb {
  background-color: #00a797;
  border-radius: 20px;
}

#input-checkBox-price:checked {
  background-color: #00a797;
}

#button-post {
  color: white;
  background: #674ea7;
  border-radius: 40px;
  width: 200px;
  height: 80px;
  border: none;
  outline: none;
}

#div-price-number {
  color: white;
  margin-left: 5px;
  font-size: 20px;
  transition: opacity 100ms;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

#button-img-bpoints {
  width: 30px;
  transition: opacity 100ms;
  display: inline-block;
  vertical-align: middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*__________________________HEADER SECUNDARIO UPLOAD IMAGE______________________________*/

@media (max-width: 1250px) {
  header {
    width: 100%;
  }
  main {
    width: 100% !important;
  }

  #h4-character-counter {
    font-size: 12px;
  }
}

@media (max-width: 1020px) {
  #h3-descrption-title {
    color: white;
    margin: 15px 25px;
    font-size: 25px;
    font-size: bold;
  }

  #h4-character-counter {
    float: right;
    color: grey;
    margin-left: 0px;
    margin-top: 30px;
    font-size: 10px;
  }
}

@media (max-width: 1000px) {
  #h3-price {
    padding-right: 60px;
  }

  #button-post {
    height: 80px;
    width: 180px;
  }
}

@media (max-width: 960px) {
  #h3-price {
    padding-right: 50px;
  }
}

@media (max-width: 920px) {
  #div-image {
    height: 100%;
    width: 100% !important;
  }

  #h4-character-counter {
    margin-right: 25px;
    font-size: 15px;
  }

  #img-uploaded {
    margin: 20px auto;
  }

  #div-description {
    margin-top: 3%;
    height: 300px;
    width: 100% !important;
    border-radius: 15px;
  }
  #h3-price {
    padding-right: 40px;
  }
}

@media (max-width: 870px) {
  #h3-price {
    padding-right: 30px;
  }
}

@media (max-width: 870px) {
  #h3-price {
    padding-right: 20px;
  }
}

@media (max-width: 810px) {
  #div-button-post {
    height: 80px;
    width: 200px;
    margin-top: 7%;
    margin-right: 12%;
    float: right;
  }

  #button-post {
    height: 60px;
    width: 160px;
  }
}

@media (max-width: 785px) {
  #h3-price {
    padding-right: 10px;
  }
}

@media (max-width: 740px) {
  #h3-price {
    padding-right: 0px;
  }
}

@media (max-width: 700px) {
  #h3-price {
    font-size: 18px;
  }

  #div-input-price {
    width: 45%;
  }

  #img-bpoints-price {
    height: 35px;
    margin-top: 2px;
    margin-left: 5px;
    position: absolute;
  }
}

@media (max-width: 620px) {
  #h3-price {
    font-size: 16px;
  }

  #div-input-price {
    width: 40%;
  }

  #img-bpoints-price {
    height: 30px;
    margin-top: 4px;
    margin-left: 5px;
  }

  #div-button-post {
    height: 60px;
    width: 160px;
    margin-top: 7%;
    margin-right: 12%;
  }
}

@media (max-width: 600px) {
  .input-checkbox {
    width: 10px !important;
    height: 10px !important;
  }

  #div-filter {
    width: 132% !important;
    font-size: 14px !important;
    height: 270px !important;
  }
}

@media (max-width: 560px) {
  .input-checkbox {
    width: 10px !important;
    height: 10px !important;
  }

  #div-filter {
    width: 128% !important;
    font-size: 12px !important;
    height: 270px !important;
  }

  #input-checkBox-price {
    margin-top: 22px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
  }

  #h3-price {
    font-size: 14px;
  }

  #div-input-price {
    width: 35%;
  }

  #div-button-post {
    height: 60px;
    width: 140px;
    margin-top: 10%;
  }

  #button-post {
    height: 60px;
    width: 140px;
  }
}

@media (max-width: 545px) {
  main {
    margin-top: 120px !important;
  }
}

@media (max-width: 510px) {
  .input-checkbox {
    width: 8px !important;
    height: 8px !important;
  }

  #div-filter {
    width: 124% !important;
    font-size: 10px !important;
    height: 250px !important;
  }

  #input-checkBox-price {
    margin-top: 22px;
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 25px;
  }
}

@media (max-width: 460px) {
  #input-title-image {
    font-size: 20px;
  }

  #h3-descrption-title {
    font-size: 20px;
  }

  #h4-character-counter {
    font-size: 10px;
  }

  #textarea-description {
    font-size: 15px;
  }

  #img-arrow {
    margin-top: 10px !important;
    margin-left: 10px !important;
  }

  #h3-filter {
    font-size: 15px;
  }

  #h3-number-filter {
    font-size: 15px;
  }

  #div-price {
    background: #242424;
    width: 100%;
    height: 100;
    margin-top: 20px;
    border-radius: 50px;
    display: flex;
    position: relative;
  }

  #input-checkBox-price {
    margin-left: 10%;
    width: 20px;
    height: 20px;
  }

  #h3-price {
    margin-left: 10px;
    width: 200px;
    height: 20px;
    margin-top: 20px;
  }

  #div-input-price {
    margin-top: 50px;
    margin-left: 10%;
    width: 70%;
    pointer-events: none;
    position: absolute;
  }

  #div-button-post {
    height: 60px;
    width: 140px;
    margin-top: 20%;
  }

  #button-post {
    height: 60px;
    width: 140px;
  }
}

@media (max-width: 450px) {
  #div-filter {
    margin-left: -80px !important;
    font-size: 8px !important;
    width: 150% !important;
    height: 250px !important;
  }
}

@media (max-width: 390px) {
  #div-button-post {
    height: 60px;
    width: 120px;
    margin-top: 20%;
  }

  #button-post {
    height: 60px;
    width: 120px;
  }
}
