/*ID*/

main{
    margin-top: 240px !important; 
    height: auto !important; 
}

#button-browse{
	background-color: #674ea7;
}

#div-url-image{
    color: white;
    font-size: 20px;
    margin-top: -140px;
    margin-left: -45px;
    position: absolute;
}

#section-all{
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    height: auto;
}

#div-image-description{
    width: 100%;
    height: 400px;
}

#div-image{
    background: #383838;
    border-radius: 15px;
    display: inline-block;
}

#img-image{
    margin-top: 20px;
    margin-left: 20px;
}

#div-title-description{
    background: #383838;
    border-radius: 15px;
    height: 100%;
    float: right;
}

#div-description{
    border-top: 3px solid white;
    width: 95%;
    height: 70%;
    margin-left: 20px;
    overflow-y: auto;
}

#p-description{
    color: #7c7c7c;
    width: 95%;
    font-size: 15px;
}

#div-artist{
    background: #383838;
    border-radius: 80px;
    margin-top: 50px;
    height: 60px;
}

#div-circle{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}

#img-circle{
    height: 40px;
    width: 40px;
    border-radius: 25px;
}

#h4-username-artist{
    display: inline-block;
    color: white;
}

#div-title-comments{
    background: #383838;
    border-radius: 15px;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1100px;
    height: auto;
    float: left;
    padding: 10px;
}

#div-comments{
    border-top: 3px solid #ffffff;
    width: 95%;
    height: 300px;
    margin-left: 20px;
    overflow-y: auto;
}

#div-circle1{
    background-color: rgb(190, 78, 190);
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}

#div-circle2{
    background-color: rgb(158, 19, 19);
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}

#div-circle3{
    background-color: rgb(12, 12, 12);
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}

/*Class*/

.comment{
    margin-left: 70px;
    color: #7c7c7c;
}

.h4-username-comments{
    color: white;
    margin-top: 5px;
}

.h4-subtitle{
    color: white;
    font-size: 30px;
    margin: 25px;
    width: 90%;
}

.scrollbar-description::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}

.scrollbar-description::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
} 

.scrollbar-description::-webkit-scrollbar-thumb {
    background-color: #00a797;
    border-radius: 20px;
}
