body{
    background-color: #242424;
    font-family: Verdana;
    margin: 0px;
}

#Lmorada{
    background-color: #674ea7;
    right: 0;
}

#Lverde{
    background-color: #00a797;
    left: 0;
}

.linea{
    position: fixed;
    height: 100%;
    width: 10px;
    display: absolute;
}

header{
    margin: 0px 5% 50px;
}

#contenedor-botones{
    width:350px;
    display: inline-block;
    margin-top: 15px;
}

.opciones{
    height: 40px;
    width: 100px;
    background-color: #3d3d3d;
    border-radius: 5px;
    border: none;
    margin: 0px 5px;
}

#Bexplorar{
    background-color: #674ea7;
}

#contenedor-busqueda{
    display: inline-block;
    height: 30px;
}

#busqueda{
    display: block;
    width: 400px;
    height: 30px;
    font-size: 15px;
    float: right;
    border: none;
    background: none;
    color: white;
    border-bottom: 1px solid white;
}

#Blupa{
    background: none;
    border:none;
    float: left;
    outline: none;

}

#lupa{
    width: 55px;
    height: 35px;
}

#contenedor-perfil{
    background-color: #3d3d3d;
    border-radius: 25px;
    margin-top:15px;
    width: 200px;
    height:50px;
    float: right;
    display: inline-block;
    transition: width 1s;
}

#contenedor-fotoPerfil{
    background-color: rgb(172, 16, 16);
    height: 40px;
    width:40px;
    border-radius: 25px;
    margin-right:5px;
    margin-left:auto;
    margin-top:5px;
}

nav{
    background-color: #3d3d3d;
    border-radius: 15px;
    height: 70px;
    margin: 15px 5%;
}

h2{
    margin-left: 20px;
    color: white;
    display: inline-block;
}

#Bflecha{
    background: none;
    border: none;
    float:right;
    margin: 10px;
}

.iconosB{
    height: 25px
}

input:focus,#Bflecha:focus {
    outline: none;
  }

h3{
    color: #7c7c7c;
    display: inline-block;
    float: right;
}

main{
    margin: 40px 5% 0px;
    background-color: #3d3d3d;
    border-radius: 15px;
    height: 1000px;
}


